<div id="toc">
    <h3>Avi Vantage<br/>Configuration Guide v. 16.1</h3>
    <ul>
        <li><a href="#architecture">Overview</a></li>
        <li>Applications
            <ul>
                <li><a href="virtual-services">Virtual Services</a>
                    <ul>
                        <li><a href="virtual-service-analytics">Analytics</a></li>
                        <li><a href="virtual-service-logs">Logs</a></li>
                        <li><a href="virtual-service-health-monitoring">Health Monitoring</a></li>
                        <li><a href="virtual-service-client-information">Client Information</a></li>
                        <li><a href="virtual-service-security">Security</a></li>
                        <li><a href="virtual-service-events-log">Events Log</a></li>
                        <li><a href="virtual-service-alerts">Alerts</a></li>
                        <li><a href="virtual-service-create">Create a Virtual Service</a></li>
                    </ul>
                </li>
                <li><a href="virtual-service-scaling">Virtual Service Scaling</a></li>
                <li><a href="virtual-service-policies">Virtual Service Policies</a></li>
                <li><a href="apps-pools">Pools</a></li>
                <li><a href="apps-servers">Servers</a></li>
            </ul>
        </li>
        <li>Operations
            <ul>
                <li><a href="ops-alerts">Alerts</a></li>
                <li><a href="ops-events">Events</a></li>
                <li><a href="ops-services">Services</a></li>
                <li><a href="ops-traffic-capture">Traffic Capture</a></li>
            </ul>
        </li>
        <li><a href="templates">Templates</a>
            <ul>
                <li><a href="templates-profiles">Profiles</a>
                    <ul>
                        <li><a href="application-profile">Application Profile</a></li>
                        <li><a href="tcpudp-profile">TCP/UDP Profile</a></li>
                        <li><a href="persistence-profile">Persistence Profile</a></li>
                        <li><a href="health-monitor-profile">Health Monitor Profile</a></li>
                        <li><a href="analytics-profile">Analytics Profile</a></li>

                    </ul>
                </li>
                <li><a href="templates-groups">Groups</a></li>
                <li><a href="templates-security">Security</a></li>
                <li><a href="templates-scripts">Scripts</a></li>
            </ul>
        </li>
        <li><a href="infrastructure">Infrastructure</a></li>
        <li>Administration
            <ul>
                <li><a href="admin-user-accounts">User Accounts</a></li>
                <li><a href="admin-settings">Settings</a></li>
                <li><a href="admin-controller">Controller</a></li>
            </ul>
        </li>
    </ul>
</div>