<header class="banner navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <img src="/img/toggle.png" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>

      <div class="site-title-container">
        <h1 class="site-title">
          <a href="https://avinetworks.com" rel="tooltip" title="" data-placement="bottom" data-original-title="">
            <img src="/img/logo.png" alt="Avi KB">
          </a>
        </h1>
        <h1 class="site-title"><a href="/" rel="tooltip" title="" data-p\="" lacement="bottom" data-original-title="">Knowledge Base</a>
        </h1></div> <!--end site-title-container -->

    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul id="menu-main-menu" class="nav navbar-nav"><li class="dropdown menu-solution"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://www.avinetworks.com/software-load-balancer-for-any-cloud">Solution</a><div class="trigger">+</div>
        <ul class="dropdown-menu " style="display: none;">
          <li class="menu-software-load-balancer-for-any-cloud"><a href="https://www.avinetworks.com/software-load-balancer-for-any-cloud">Software Load Balancer for Any Cloud</a></li>
          <li class="menu-load-balancing-as-a-service-for-openstack"><a href="https://www.avinetworks.com/load-balancing-as-a-service-for-openstack">Load Balancing as a Service for OpenStack</a></li>
          <li class="menu-application-services-for-sdn-environments"><a href="https://www.avinetworks.com/application-services-for-sdn">Application Services for SDN Environments</a></li>
          <li class="menu-container-services-fabric-for-microservices"><a href="https://www.avinetworks.com/container-services-fabric-for-microservices-apps">Container Services Fabric for Microservices</a></li>
        </ul>
      </li>
        <li class="dropdown menu-product"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://www.avinetworks.com/product">Product</a><div class="trigger">+</div>
          <ul class="dropdown-menu " style="display: none;">
            <li class="menu-overview"><a href="https://www.avinetworks.com/product">Overview</a></li>
            <li class="menu-architecture"><a href="https://www.avinetworks.com/product-architecture">Architecture</a></li>
            <li class="menu-benefits"><a href="https://www.avinetworks.com/product-benefits">Benefits</a></li>
          </ul>
        </li>
        <li class="menu-customers"><a href="https://www.avinetworks.com/customers">Customers</a></li>
        <li class="dropdown menu-partners"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://www.avinetworks.com/partners">Partners</a><div class="trigger">+</div>
          <ul class="dropdown-menu ">
            <li class="menu-technology-partners"><a href="https://www.avinetworks.com/partners">Technology Partners</a></li>
            <li class="menu-channel-partners"><a href="https://www.avinetworks.com/channel-partners">Channel Partners</a></li>
          </ul>
        </li>
        <li class="dropdown menu-resources"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://www.avinetworks.com/resources">Resources</a><div class="trigger">+</div>
          <ul class="dropdown-menu ">
            <li class="menu-resource-center"><a href="https://www.avinetworks.com/resources">Resource Center</a></li>
            <li class="menu-webinars"><a href="https://www.avinetworks.com/webinars">Webinars</a></li>
            <li class="menu-knowledge-base"><a href="/">Knowledge Base</a></li>
            <li class="menu-community"><a href="http://info.avinetworks.com/community">Community</a></li>
          </ul>
        </li>
        <li class="dropdown menu-company"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://www.avinetworks.com/about-us">Company</a><div class="trigger">+</div>
          <ul class="dropdown-menu ">
            <li class="menu-about-us"><a href="https://avinetworks.com/about-us">About Us</a></li>
            <li class="menu-management"><a href="https://avinetworks.com/management">Management</a></li>
            <li class="menu-news"><a href="https://avinetworks.com/news">News</a></li>
            <li class="menu-events"><a href="https://www.avinetworks.com/events">Events</a></li>
            <li class="menu-careers"><a href="https://www.avinetworks.com/careers">Careers</a></li>
            <li class="menu-contact-us"><a href="https://www.avinetworks.com/contact-us">Contact Us</a></li>
            <li class="menu-blog"><a href="https://blog.avinetworks.com/">Blog</a></li>
          </ul>
        </li>
      </ul>

      <div class="navbar-right">
        <span class="sublinks"> <a href="https://avinetworks.com/portal" target="_blank">Customer Portal</a>&nbsp; <a href="https://blog.avinetworks.com/" target="_blank">Blog</a>&nbsp; <a class="parent-menu" href="/contact-us">Contact</a> </span>
        <a href="https://avinetworks.com/download" class="btn btn-primary">Download</a>
      </div>

    </nav>
  </div>
</header>
