<div class="row header">
    <div class="col-xs-12">
        <div id="logo">
            <a href="https://avinetworks.com/"><img src="/img/logo.png"></a>
            <a href="/"><h2>Knowledge Base</h2></a>
        </div>
        <ul id="top-nav">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Solutions</a>
                <ul id="dropdown-solutions" class="dropdown-menu">
                    <li class="menu-software-load-balancer-for-any-cloud"><a href="https://www.avinetworks.com/software-load-balancer-for-any-cloud">Software Load Balancer for<br/>Any Cloud</a></li>
                    <li class="menu-load-balancing-as-a-service-for-openstack"><a href="https://www.avinetworks.com/load-balancing-as-a-service-for-openstack">Load Balancing as a Service<br/>for OpenStack</a></li>
                    <li class="menu-application-services-for-sdn-environments"><a href="https://www.avinetworks.com/application-services-for-sdn">Application Services for SDN<br/>Environments</a></li>
                    <li class="menu-container-services-fabric-for-microservices"><a href="https://www.avinetworks.com/container-services-fabric-for-microservices-apps">Container Services Fabric for<br/>Microservices</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Product</a>
                <ul id="dropdown-products" class="dropdown-menu">
                    <li class="menu-overview"><a href="https://www.avinetworks.com/product">Overview</a></li>
                    <li class="menu-architecture"><a href="https://www.avinetworks.com/product-architecture">Architecture</a></li>
                    <li class="menu-benefits"><a href="https://www.avinetworks.com/product-benefits">Benefits</a></li>
                </ul>
            </li>
            <li class="menu-customers">
                <a href="https://www.avinetworks.com/customers">Customers</a>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Partners</a>
                <ul class="dropdown-menu">
                    <li class="menu-technology-partners"><a href="https://www.avinetworks.com/partners">Technology Partners</a></li>
                    <li class="menu-channel-partners"><a href="https://www.avinetworks.com/channel-partners">Channel Partners</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Resources</a>
                <ul class="dropdown-menu ">
                    <li class="menu-resource-center"><a href="https://www.avinetworks.com/resources">Resource Center</a></li>
                    <li class="menu-webinars"><a href="https://www.avinetworks.com/webinars">Webinars</a></li>
                    <li class="menu-knowledge-base"><a href="/">Knowledge Base</a></li>
                    <li class="menu-community"><a href="http://info.avinetworks.com/community">Community</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Company</a>
                <ul class="dropdown-menu">
                    <li class="menu-about-us"><a href="https://avinetworks.com/about-us">About Us</a></li>
                    <li class="menu-management"><a href="https://avinetworks.com/management">Management</a></li>
                    <li class="menu-news"><a href="https://avinetworks.com/news">News</a></li>
                    <li class="menu-events"><a href="https://www.avinetworks.com/events">Events</a></li>
                    <li class="menu-careers"><a href="https://www.avinetworks.com/careers">Careers</a></li>
                    <li class="menu-contact-us"><a href="https://www.avinetworks.com/contact-us">Contact Us</a></li>
                    <li class="menu-blog"><a href="https://blog.avinetworks.com/">Blog</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>