<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-signin-client_id"
      content="163693132130-92leoeqfcscqc3g8nkia1heuq02p0jo9.apps.googleusercontent.com">

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<!--<script src="/js/jquery-3.1.0.js"></script>-->


<!--<script src="/js/bootstrap.js"></script>-->
<!--<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="/js/jquery.toc.js"></script>
<script src="/js/js.cookie.js"></script>

<script src="/js/prism-dev.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/command-line/prism-command-line.css"
      type="text/css"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/command-line/prism-command-line.min.css.map"
      type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism-twilight.css"
      type="text/css"/>


<link href="https://raw.githubusercontent.com/mojombo/tpw/master/css/syntax.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<script src="/js/site.js"></script>

<link href="/css/side-comments/side-comments.min.css" rel="stylesheet" type="text/css">
<link href="/css/side-comments/themes/default-theme.min.css" rel="stylesheet" type="text/css">
<script src="/js/side-comments/side-comments.min.js"></script>
<!--suppress HtmlUnknownTarget -->
<link rel="stylesheet" href="/css/main.css">


<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=lua&skin=sunburst"></script>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<script type="text/javascript">
    $(document).ready(function () {
        document.title = document.title.replace(/&#58;/g, ":");
        document.title = document.title.replace(/&#46;/g, ".");
    })
</script>
