<h2>Architecture</h2>
<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/architectural-overview/">
            <div class="card-header">Overview</div>
            <div class="card-block">
                <p class="card-text">An overview of the general architecture of Avi Vantage.</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/docs/latest/clouds/">
            <div class="card-header">Clouds</div>
            <div class="card-block">
                <p class="card-text">Applications managed by Avi Vantaged are grouped into independently
                    configurable
                    "clouds." </p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/docs/latest/system-requirements-ecosystem">
            <div class="card-header">Ecosystem Requirements</div>
            <div class="card-block">
                <p class="card-text">The specific technologies for which Avi Vantage is optimized.</p>
            </div>
        </a>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/system-requirements-hardware">
            <div class="card-header">Hardware Requirements</div>
            <div class="card-block">
                <div class="card-text">Hardware requirements and provisioning guidelines.</div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/docs/latest/controller-cluster-ip/">
            <div class="card-header">Controller Cluster IP</div>
            <div class="card-block">
                <p class="card-text">Best practices for controller network configuration.</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/docs/latest/architectural-overview/applications/virtual-services/">
            <div class="card-header">Virtual Services</div>
            <div class="card-block">
                <p class="card-text">The core of the Vantage Vantage load-balancing and proxy functionality.</p>
            </div>
        </a>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/service-engine-group/">
            <div class="card-header">Service Engine Group</div>
            <div class="card-block">
                <p class="card-text">Service Engines handle all data plane operations. Service Engines are grouped
                    together for common configuration and high availability.</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/docs/latest/architectural-overview/applications/pools/">
            <div class="card-header">Pools</div>
            <div class="card-block">
                <p class="card-text">Avi Vantage groups servers into pools to perform health monitoring, load balancing,
                    persistence, and other functions.</p>
            </div>
        </a>
    </div>
    <div class="card card-spacer">&nbsp;</div>
</div>

<h2>Features</h2>
<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/load-balancing/">
            <div class="card-header">Load Balancing</div>
            <div class="card-block">
                <p class="card-text">Learn more about Avi Vantage load balancing and auto-scaling functionality.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/server-autoscale/">
            <div class="card-header">Server Autoscale</div>
            <div class="card-block">
                <p class="card-text">Dynamic scaling of services in response to service load.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/overview-of-health-monitors/">
            <div class="card-header">Health Monitoring</div>
            <div class="card-block">
                <p class="card-text">Automatic health monitoring of deployable servers.</p>
            </div>
        </a>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/overivew-of-vantage-high-availability/">
            <div class="card-header">High Availability</div>
            <div class="card-block">
                <p class="card-text">Best practices for deploying Avi Vantage with high-availability.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/overview-of-vantage-security/">
            <div class="card-header">Security</div>
            <div class="card-block">
                <p class="card-text">Best practices for operating Avi Vantage securely.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/rate-shaping-and-throttling-options">
            <div class="card-header">Rate Shaping and Throttling</div>
            <div class="card-block">
                <p class="card-text">Avi Vantage rate shaping and throttling capabilities.</p>
            </div>
        </a>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/acceleration-overview/">
            <div class="card-header">Acceleration</div>
            <div class="card-block">
                <p class="card-text">Overview of Avi Vantage acceleration capabilities.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/analytics-overview/">
            <div class="card-header">Analytics</div>
            <div class="card-block">
                <p class="card-text">Overview of Avi Vantage analytics capabilities.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/visibility-and-traffic-inspection-overview/">
            <div class="card-header">Visibility and Traffic Inspection</div>
            <div class="card-block">
                <p class="card-text">Overview of Avi Vantage real-time visibility and traffic inspection
                    capabilities.</p>
            </div>
        </a>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/orchestrator-access-modes/">
            <div class="card-header">Ecosystem Integration</div>
            <div class="card-block">
                <p class="card-text">Options for integrating with third-party virtualized and cloud environments.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/administration-overview/">
            <div class="card-header">Administration</div>
            <div class="card-block">
                <p class="card-text">Overview of Avi Vantage administration options.</p>
            </div>
        </a>
    </div>

    <div class="card card-spacer">&nbsp;</div>
</div>

<h2>Guides</h2>

<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/installation-guides/">
            <div class="card-header">Installation Guides</div>
            <div class="card-block">
                <p class="card-text">Guides for installing Avi Vantage in specific environments.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/configuration-guide/">
            <div class="card-header">Configuration</div>
            <div class="card-block">
                <p class="card-text">Avi Vantage configuration guide.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/cli-guide/">
            <div class="card-header">CLI Guide</div>
            <div class="card-block">
                <p class="card-text">Avi Vantage command-line interface guide.</p>
            </div>
        </a>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <a href="/docs/latest/datascript-guide/">
            <div class="card-header">DataScript Guide</div>
            <div class="card-block">
                <p class="card-text">Guide to using DataScript, the Avi Vantage scripting language and environment.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="/docs/latest/api-guide/">
            <div class="card-header">REST API Guides</div>
            <div class="card-block">
                <p class="card-text">Reference manual for the Avi Vantage REST API.</p>
            </div>
        </a>
    </div>

    <div class="card card-spacer">&nbsp;    </div>
</div>