<h2>Architecture</h2>
<div class="card-deck">
    <div class="card">
        <a class="card-block" href="/docs/latest/architectural-overview/">
            <h4 class="card-title">Overview</h4>
            <p class="card-text">An overview of the general architecture of Avi Vantage.</p>
        </a>
        <div class="card-footer">
            <button class="center-block" href="/docs/latest/architectural-overview/">Learn More</button>
        </div>
    </div>
    <div class="card">
        <a class="card-block" href="/docs/latest/clouds/">
            <h4 class="card-title">Clouds</h4>
            <p class="card-text">Applications managed by Avi Vantaged are grouped into independently
                configurable
                "clouds." </p>
        </a>
        <a class="card-footer" href="/docs/latest/clouds/">
            <button class="center-block">Learn More</button>
        </a>
    </div>
    <div class="card">
        <a class="card-block" href="/docs/latest/system-requirements-ecosystem">
            <h4 class="card-title">Ecosystem Requirements</h4>
            <p class="card-text">The specific technologies Avi Vantage is optimized for.</p>
        </a>
        <a class="card-footer" href="/docs/latest/system-requirements-ecosystem">
            <button class="center-block">Learn More</button>
        </a>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <a class="card-block" href="/docs/latest/system-requirements-ecosystem">
            <h4 class="card-title">Hardware Requirements</h4>
            <div class="card-text">Another content.</div>
        </a>
        <a class="card-footer" href="/docs/latest/system-requirements-ecosystem">
            <button class="center-block">Learn More</button>
        </a>
    </div>
    <div class="card">
        <a class="card-block" href="#">
            <h4 class="card-title">Controller Cluster IP</h4>
            <p class="card-text">a;lsdkdkfja</p>
        </a>
        <div class="card-footer">
            <button class="center-block" href="#">Learn More</button>
        </div>
    </div>
    <div class="card">
        <a class="card-block" href="#">
            <h4 class="card-title">Virtual Services</h4>
            <p class="card-text">a;ldkfs </p>
        </a>
        <a class="card-footer" href="#">
            <button class="center-block">Learn More</button>
        </a>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <a class="card-block" href="#">
            <h4 class="card-title">Service Engine Group</h4>
            <p class="card-text">Content.</p>
        </a>
        <a class="card-footer" href="#">
            <button class="center-block">Learn More</button>
        </a>
    </div>
    <div class="card">
        <a class="card-block" href="#">
            <h4 class="card-title">Pool</h4>
            <div class="card-text">Another content.</div>
        </a>
        <a class="card-footer" href="/#">
            <button class="center-block">Learn More</button>
        </a>
    </div>
    <div class="card card-spacer">&nbsp;</div>
</div>

<h2>Features</h2>
<div class="card-deck">
    <div class="card">
        <a class="card-block" href="#">
            <h4 class="card-title">Load Balancing</h4>
            <p class="card-text">a;lsdkdkfja</p>
        </a>
        <div class="card-footer">
            <button class="center-block" href="#">Learn More</button>
        </div>
    </div>

    <div class="card">
        <a class="card-block" href="#">
            <h4 class="card-title">Server Autoscale</h4>
            <p class="card-text">a;ldkfs </p>
        </a>
        <a class="card-footer" href="#">
            <button class="center-block">Learn More</button>
        </a>
    </div>

    <div class="card">
        <a class="card-block" href="#">
            <h4 class="card-title">Health Monitoring</h4>
            <p class="card-text">Content.</p>
        </a>
        <a class="card-footer" href="#">
            <button class="center-block">Learn More</button>
        </a>
    </div>
</div>
