<div class="row">
    <div class="col-sm-12"><h2>Architecture</h2></div>
</div>
<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    Hello. I'm a card.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-deck">
            <div class="card">
                <a href="/docs/latest/architectural-overview/">
                    <div class="card-block">
                        <h4 class="card-title">Overview</h4>
                        <p class="card-text">An overview of the general architecture of Avi Vantage.</p>
                    </div>
                    <div class="card-footer">
                        <button class="center-block">Learn More</button>
                    </div>
                </a>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-sm-4">
        <a href="/docs/latest/architectural-overview/">
            <div class="panel panel-default">
                <div class="panel-heading">Overview</div>
                <div class="panel-body">
                    An overview of the general architecture of Avi Vantage.
                    <button class="center-block">Learn More</button>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Clouds</div>
            <div class="panel-body">
                Applications managed by Avi Vantaged are grouped into independently configurable "clouds."
                <button class="center-block">Learn More</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Ecosystem Requirements</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Hardware Requirements</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Controller Cluster IP</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Virtual Services</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Service Engine Group</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Pool</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"><h2>Features</h2></div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Load Balancing</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Server Autoscale</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Health Monitoring</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">High Availability</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Security</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Rate Shaping and Throttling</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Acceleration</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Analytics</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Real-Time Visibility and Traffic Inspection</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Ecosystem Integration</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Administration</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"><h2>Guides</h2></div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Installation Guides</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Configuration</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">CLI Guide</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">DataScript Guide</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">REST API Guides</div>
            <div class="panel-body">Another content.</div>
        </div>
    </div>
</div>
-->