<ul id="expandable-nav">
  <li><a href="#collapse-architecture" data-toggle="collapse" data-target="#collapse-architecture">Architecture</a>
    <ul class="collapse subnav" id="collapse-architecture">
      <li><a href="/docs/architectural-overview/">Overview</a></li>
      <li><a href="/system-requirements-ecosystem/">Ecosystem System Requirements</a></li>
      <li><a href="/system-requirements-hardware/">Hardware System Requirements</a></li>
      <li><a href="/controller-cluster-ip/">Controller Cluster IP</a></li>
      <li><a href="/docs/configuration-guide/applications/virtual-services/">Service Engine</a></li>
      <li><a href="#" data-toggle="collapse" data-target="#collapse-architecture-pool">Pool</a>
        <ul class="collapse" id="collapse-architecture-pool">
          <li><a href="/docs/configuration-guide/applications/pools/">Overview</a></li>
          <li><a href="/ab-pool-feature/">A/B Testing</a></li>
          <li><a href="/support-for-sni-extension-in-tls-handshakes-to-pool-servers/">SNI Extension in TLS
            Handshakes</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#collapse-features" data-toggle="collapse" data-target="#collapse-features">Features</a>
    <ul id="collapse-features" class="collapse">
      <li>
        <p>Load Balancing</p>
        <ul>
          <li><a href="/autoscale-service-engines/">Autoscaling Service Engines</a></li>
          <li><a href="/docs/configuration-guide/applications/vs-scaling/">Virtual Service Scaling</a></li>
          <li><a href="/bgp-support-for-virtual-services/">BGP Support for Scaling Virtual Services</a></li>
          <li><a href="/docs/configuration-guide/applications/pools/#load_balancing_algorithms">Load Balancing
            Algorithms</a></li>
        </ul>
      </li>
      <li title="Persistence" cookiename="nav-features-lb-persistence">
        Persistence
        <ul>
          <li><a href="/overview-of-server-persistence/">Overview</a></li>
          <li><a href="/http-cookie-persistence/">HTTP Cookie</a></li>
          <li><a href="/app-cookie-persistence/">App Cookie</a></li>
          <li><a href="/custom-http-header-persistence/">Custom HTTP Header</a></li>
          <li><a href="/client-ip-persistence/">Client IP</a></li>
          <li><a href="/tls-persistence/">TLS</a></li>
          <li><a href="/custom-persistence-with-datascript/">Custom DataScript</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
