<div class="sidebar col-xs-3">
  <form class="search-form" action="/search/" method="GET">
    <div class="search-wrapper">
      <div class="row">
        <div class="col-xs-10 search-field-wrapper">
          <input id="search-input" class="search-field" type="search" name="search">
        </div>
        <button type="submit" class="search-button col-xs-2"></button>
      </div>
    </div>
  </form>
  <script type="text/javascript">
    var client = algoliasearch('272ZBU7KSH', '6fc3a75f0821308178cd612cfd4f8d2e')
    var index = client.initIndex('wp_searchable_posts');
    $('#search-input').autocomplete({hint: true}, [
      {
        source: $.fn.autocomplete.sources.hits(index, {hitsPerPage: 5}),
        displayKey: 'my_attribute',
        templates: {
          suggestion: function (suggestion) {
            return "<a href=\"" + suggestion.permalink + "\">" + suggestion._highlightResult.post_title.value + "</a>";
          }
        }
      }
    ]).on('autocomplete:selected', function (event, suggestion, dataset) {
      console.log(suggestion, dataset);
    });
    $('#search-input').on('autocomplete:selected', function (event, suggestions, datasetName) {
      console.log("Autocomplete selected: " + event + ", suggestions: " + suggestions + ", dataset name: " + datasetName);
    });
  </script>
  {% include left-nav.html %}
</div>