---
---

@charset "utf-8";

//
// Colors
//
$font-color-normal: #333;
$background-color: #fdfdfd;
$header-background-color: rgb(42, 42, 45);
$sidebar-background-color: white;
$main-content-background-color: white;
$footer-background-color: green;
$brand-color: #ff4b00;

$grey-color: #ccc;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$border-color: $grey-color;
//
// Typography
//
$font-root: "/static/fonts/";
$font-family-normal: brandon-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-normal: 14px;
$base-font-weight: 400;
$font-size-small: $font-size-normal * 0.875;
$base-line-height: 1.5;

@mixin font-face($family-name, $filename) {
  @font-face {
    font-family: $family-name;
    src: url(quote($font-root + $filename + ".eot")); /* IE9 Compat Modes */
    src: url(quote($font-root + $filename + ".eot?#iefix")) format('embedded-opentype'), /* IE6-IE8 */
      //url(quote($font-root + $font-root + $filename +".woff2")) format('woff2'), /* Super Modern Browsers */
    url(quote($font-root + $filename + ".woff")) format('woff'), /* Pretty Modern Browsers */
    url(quote($font-root + $filename + ".ttf")) format('truetype'), /* Safari, Android, iOS */
    url(quote($font-root + $filename + ".svg#svgFontName")) format('svg'); /* Legacy iOS */
  }
}

@include font-face ("brandon-black", "brandontext-black-webfont");
@include font-face ("brandon-bold-italic", "brandontext-bolditalic-webfont");
@include font-face ("brandon-light-italic", "brandontext-lightitalic-webfont");
@include font-face ("brandon-medium", "brandontext-medium-webfont");
@include font-face ("brandon-medium-italic", "brandontext-mediumitalic-webfont");
@include font-face ("brandon-regular-italic", "brandontext-regularitalic-webfont");
@include font-face ("brandon-regular", "hvdfonts-brandontext-regular");

h1, h2, h3, h4, h5, h6 {
  font-family: brandon-medium;
}

//
// Spacing
//
$spacing-unit: 30px;

/**
* Base
*/

body {
  font: $font-size-normal $font-family-normal;
  background-color: $background-color;
  color: $font-color-normal;
}

a {
  text-decoration: none;
  color: $brand-color;
}

/**
* Layout
*/

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.content-container {
  padding: 0 $spacing-unit 0 $spacing-unit;
}

.header {
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: $header-background-color;
  color: white;

  #logo {
    float: left;
    a {
      color: $brand-color;
      h2 {
        margin: 0;
        padding-top: 5px;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  }

  ul {
    list-style: none;
  }

  #top-nav {
    float: left;
    padding-top: 25px;
    li {
      float: left;
      font-family: brandon-medium, sans-serif;
      text-transform: uppercase;
      padding: 0 $spacing-unit / 2 0 $spacing-unit / 2;
    }
    .menu-contents {
      padding: 0;
      float: none; //left;
      li {
        float: none;
        padding: 0;
        text-transform: none;
      }
    }
  }
}

.sidebar {
  background-color: $sidebar-background-color;
  a {
    color: $font-color-normal;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .search-wrapper {
    margin-left: 10px;
  }
  .search-field-wrapper {
    padding: 0;
  }
  .algolia-autocomplete {
    border: 1px solid $border-color;
    margin: 0;
    padding: 0;
    height: $spacing-unit;
    width: 100%;
  }
  //
  //.aa-dropdown-menu {
  //  background-color: $background-color;
  //  border: 1px solid $border-color;
  //  padding: 10px 10px 0 10px;
  //}
  //
  //.aa-suggestion {
  //  font-family: brandon-medium, sans-serif;
  //  margin: 10px 0 10px 0;
  //}
  //
  //.aa-cursor {
  //  background-color: $border-color;
  //}
  /**
  * Default Algolia style
  */
  .algolia-autocomplete {
    width: 100%;
  }
  .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
  }
  .algolia-autocomplete .aa-hint {
    color: #999;
  }
  .algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
  }

  .search-field {
    border: 0;
    margin: 0;
    padding: 0 10px 0 10px;
    width: 100%;
    height: $spacing-unit - 2px;
  }
  .search-button {
    border: 1px solid $border-color;
    background-color: $background-color;
    background-image: url("/img/search-icon.png");
    height: $spacing-unit;
    background-repeat: no-repeat;
    background-position: center center;
  }

  ul#expandable-nav {
    list-style: none;
    padding: 0;
    li {
      padding-top: $spacing-unit / 2;
    }
    ul {
      padding-left: $spacing-unit / 2;
      list-style: none;
    }
  }
}

.main-content {
  background-color: $main-content-background-color;
}

.footer {
  background-color: $footer-background-color;
}