---
---

@charset "utf-8";
// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-root: "/static/fonts/";
$base-font-family: brandon-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #333;
$background-color: #fdfdfd;
$brand-color: #ff4b00;

$grey-color: #ccc;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$border-color: $grey-color;

$edge-padding: 10px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin font-face($family-name, $filename) {
  @font-face {
    font-family: $family-name;
    src: url(quote($font-root + $filename + ".eot")); /* IE9 Compat Modes */
    src: url(quote($font-root + $filename + ".eot?#iefix")) format('embedded-opentype'), /* IE6-IE8 */
      //url(quote($font-root + $font-root + $filename +".woff2")) format('woff2'), /* Super Modern Browsers */
    url(quote($font-root + $filename + ".woff")) format('woff'), /* Pretty Modern Browsers */
    url(quote($font-root + $filename + ".ttf")) format('truetype'), /* Safari, Android, iOS */
    url(quote($font-root + $filename + ".svg#svgFontName")) format('svg'); /* Legacy iOS */
  }
}

@include font-face ("brandon-black", "brandontext-black-webfont");
@include font-face ("brandon-bold-italic", "brandontext-bolditalic-webfont");
@include font-face ("brandon-light-italic", "brandontext-lightitalic-webfont");
@include font-face ("brandon-medium", "brandontext-medium-webfont");
@include font-face ("brandon-medium-italic", "brandontext-mediumitalic-webfont");
@include font-face ("brandon-regular-italic", "brandontext-regularitalic-webfont");
@include font-face ("brandon-regular", "hvdfonts-brandontext-regular");

body {
  margin: 0px;
  padding-top: 125px;
  font: $base-font-size $base-font-family;
  color: #333;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  color: #fb5100;
  text-decoration: none;
}

/**
* Layout
**/
body,
html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #a7a09a;
}

#wrap {
  width: 100%;
  margin: 0 auto;
  background: #99c;
}

#header {
  margin: 0;
  padding: $edge-padding;
  background-color: #2a2a2d;
  color: white;
  height: 80px;
  #nav-wrapper {

    #logo {
      float: left;
      margin-right: 10px;
      .site-title {
        font-size: 11px;
        text-transform: uppercase;
      }
    }
    #nav {
      float: left;
      padding-top: 30px;
      text-transform: uppercase;
      font-family: brandon-medium, sans-serif;
      ul {
        list-style: none;
        display: inline;
        li {
          display: inline;
          padding-left: 15px;
          padding-right: 15px;
          a {
            color: white;
          }
        }
      }
    }
  }
}

#main {
  //float:right;
  padding: 0 $edge-padding 0 $edge-padding;
  background: #9c9;
}

#sidebar {
  float: left;
  padding: 0 $edge-padding 0 $edge-padding;
  width: 20%;
  background: #c9c;
}

#footer {
  clear: both;
  padding: 0 $edge-padding 0 $edge-padding;
  background: #cc9;
}