---
---

@charset "utf-8";
@import "bootstrap";

//
// Colors
//
$font-color-normal: #555;
$background-color: #fdfdfd;
$header-background-color: #2a2a2d;
$sidebar-background-color: white;
$main-content-background-color: white;
$footer-background-color: #2a2a2d;
$brand-color: #ff4b00;

$grey-color: #ccc;
$grey-color-light: #ddd;
$grey-color-dark: darken($grey-color, 25%);

$blue-color: #22a4e6;

$highlight-color: #f5f5f5;

$left-nav-highlight-color: $grey-color-dark;

$border-color: $grey-color;

//
// Typography
//
$font-root: "/static/fonts/";
$font-family-normal: brandon-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-normal: 14px;
$base-font-weight: 400;
$font-size-small: $font-size-normal * 0.875;
$base-line-height: 1.5;

@mixin font-face($family-name, $filename) {
  @font-face {
    font-family: $family-name;
    src: url(quote($font-root + $filename + ".eot")); /* IE9 Compat Modes */
    src: url(quote($font-root + $filename + ".eot?#iefix")) format('embedded-opentype'), /* IE6-IE8 */
      //url(quote($font-root + $font-root + $filename +".woff2")) format('woff2'), /* Super Modern Browsers */
    url(quote($font-root + $filename + ".woff")) format('woff'), /* Pretty Modern Browsers */
    url(quote($font-root + $filename + ".ttf")) format('truetype'), /* Safari, Android, iOS */
    url(quote($font-root + $filename + ".svg#svgFontName")) format('svg'); /* Legacy iOS */
  }
}

@include font-face ("brandon-black", "brandontext-black-webfont");
@include font-face ("brandon-bold-italic", "brandontext-bolditalic-webfont");
@include font-face ("brandon-light-italic", "brandontext-lightitalic-webfont");
@include font-face ("brandon-medium", "brandontext-medium-webfont");
@include font-face ("brandon-medium-italic", "brandontext-mediumitalic-webfont");
@include font-face ("brandon-regular-italic", "brandontext-regularitalic-webfont");
@include font-face ("brandon-regular", "hvdfonts-brandontext-regular");

h1, h2, h3, h4, h5, h6 {
  font-family: brandon-medium, sans-serif;
  color: #2A2A2C;
}

//
// Spacing
//
$spacing-unit: 30px;

h1 {
  //margin-top: 0;//$spacing-unit/2;
  margin-top: $spacing-unit / 2;
}

/**
* Base
*/

body {
  font: $font-size-normal $font-family-normal;
  background-color: $background-color;
  color: $font-color-normal;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: $blue-color;
}

b, strong {
  font-family: brandon-medium, sans-serif;
}

blockquote {
  font: inherit;
}

.alignright {
  float: right;
  padding-left: $spacing-unit / 2;
}

.aligncenter {
  display: block;
  margin: 0 auto 0 auto;
}

.alignleft {
  float: left;
  padding-right: $spacing-unit / 2;
}

.main-content {
  img {
    // TODO: make this responsive
    max-width: 700px;
    height: auto;
    display: block;
  }
}

.table {
  th {
    color: white;
    background-color: $grey-color-dark;
  }
}

code {
  font-size: $font-size-normal - 2;
  color: dimgray;
  background-color: transparent;
}

/**
* Layout
*/

figure {
  //padding: $spacing-unit / 4;
  margin: $spacing-unit / 2 0 $spacing-unit /2 0;
  padding-bottom: 0;
  border: 1px solid $blue-color; //$grey-color;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  img {
    padding: $spacing-unit / 4;
  }
}

figcapture, figcaption, figcaption.caption {
  padding: $spacing-unit / 4;
  background-color: $blue-color; //$highlight-color;
  color: white;
  display: block;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.content-container {
  padding: 0 $spacing-unit 0 $spacing-unit;
}

.header {
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: $header-background-color;
  color: white;

  #logo {
    float: left;
    a {
      h2 {
        color: $brand-color;
        margin: 0;
        padding-top: 5px;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  }

  ul {
    list-style: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  #top-nav {
    float: left;
    padding-top: 25px;
  }
  #top-nav > li {
    float: left;
    position: relative;
    font-family: brandon-medium, sans-serif;
    text-transform: uppercase;
    padding: 0 $spacing-unit / 2 0 $spacing-unit / 2;

    a, a:visited {
      color: white;
      text-decoration: none;
    }

    .dropdown-menu {
      @include border-top-radius(4px);
      @include border-bottom-radius(4px);
      //top: 40px;
      padding-top: 40px;
      width: 220px;
      background-color: $header-background-color;
      text-transform: none;
      li {
        a {
          color: white;
          opacity: 0.6;
          transition: all 0.5s;
        }
        a:hover {
          background-color: $header-background-color;
          color: $brand-color;
          opacity: 1;
        }
      }
    }
  }

  .navbar-right {
    // XXX: Hack: this should be inside the column
    margin-right: 3px;
    float: right !important;

    .sublinks {
      a, a:visited {
        margin-left: 5px;
        color: $brand-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 11px;
      }
    }

    .download-button {
      float: right;
      .btn-primary {
        margin-top: 5px;
        padding: 0 15px;
        line-height: 40px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 14px;
        transition: background-color 0.3s, margin 0.3s;
        border: 0;
        background-color: $brand-color;
      }
    }
  }
}

/**
* Sidebar
*/

.sidebar {
  background-color: $sidebar-background-color;
  a {
    color: $font-color-normal;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .search-wrapper {
    margin-left: 10px;
  }
  .search-field-wrapper {
    padding: 0;
  }
  .algolia-autocomplete {
    border: 1px solid $border-color;
    margin: 0;
    padding: 0;
    height: $spacing-unit;
    width: 100%;
  }

  /**
  * Default Algolia style
  */
  .algolia-autocomplete {
    width: 100%;
  }
  .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
  }
  .algolia-autocomplete .aa-hint {
    color: #999;
  }
  .algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
  }

  .search-field {
    border: 0;
    margin: 0;
    padding: 0 10px 0 10px;
    width: 100%;
    height: $spacing-unit - 2px;
  }
  .search-button {
    border: 1px solid $border-color;
    background-color: $background-color;
    background-image: url("/img/search-icon.png");
    height: $spacing-unit;
    background-repeat: no-repeat;
    background-position: center center;
  }

  ul#expandable-nav {
    list-style: none;
    padding: $spacing-unit / 2 0 0 0;
    //li {
    //  padding-top: $spacing-unit / 4;
    //  padding-bottom: $spacing-unit / 4;
    //}
    ul {
      margin-left: $spacing-unit / 4;
      padding-left: 0;
      list-style: none;
    }
    a {
      display: block;
      //border-left: 2px solid $grey-color-light;
      padding-top: $spacing-unit / 4;
      padding-bottom: $spacing-unit / 4;
      padding-left: $spacing-unit / 4;
    }
    .toggle:after {
      /* symbol for "opening" panels */
      font-family: 'Glyphicons Halflings', sans-serif; /* essential for enabling glyphicon */
      content: "\e114"; /* adjust as needed, taken from bootstrap.css */
      float: right; /* adjust as needed */
      color: grey; /* adjust as needed */
    }
    .toggle.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
    .collapse.in {
      border-left: 2px solid $grey-color-light;
    }
    .active {
      background-color: $left-nav-highlight-color;
      a {
        color: white;
        font-family: brandon-medium, sans-serif;
      }
    }
  }
}

/**
* Table of Contents
**/
$toc-indent: 20px;

.toc-wrapper {
  .toc {
    top: 0;
    min-width: 235px;

    ul {
      list-style: none;
      padding: 0;
    }

    #toc-title {
      margin: 0;
      padding: 0 $toc-indent 0 $toc-indent;
      background-color: #ddd;
      color: #999;
      font: $font-size-normal * 1.5 brandon-medium, sans-serif;
    }

    #toc {
      background-color: $highlight-color;

      li {
        a {
          display: block;
          padding-top: $toc-indent / 2;
          padding-bottom: $toc-indent / 2;
        }
      }
      .toc-h1 {
        padding-left: $toc-indent;
      }
      .toc-h2 {
        padding-left: $toc-indent + $toc-indent / 2;
      }
      .toc-h3 {
        padding-left: $toc-indent + $toc-indent;
      }
      .toc-active {
        background-color: $grey-color-dark;
        a {
          color: white;
          font-family: brandon-medium, sans-serif;
        }
      }
    }
  }
}

/**
* Main Content
*/

.main-content {
  background-color: $main-content-background-color;
}

/**
* Footer
*/

.footer {
  padding: 50px 0 50px 0;
  background-color: $footer-background-color;
  ul#menu-footer-menu {
    padding: 0;
    list-style: none;
    li {
      float: left;
      margin-right: 20px;
      min-width: 130px;
      a {
        text-transform: uppercase;
        color: white;
        font-size: 17px;
        margin-bottom: 20px;
        display: block;
      }
      ul.submenu {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          float: none;
          a {
            margin-bottom: 5px;
            display: block;
            text-transform: none;
            color: white;
            opacity: 0.6;
            transition: opacity 0.3s;
            text-decoration: none;
            font-size: $font-size-normal;
          }
          a:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .footer-right {
    float: left;
    ul.social {
      margin-top: 92px;
      list-style: none;
      li {
        float: left;
      }
    }
  }
  img.foot-logo {
    width: 60px;
    margin-right: 30px;
  }
}

/**
* Search Results
*/
#search-results {

  li {
    margin: 0;
    padding: 5px 0;
    a {
      color: $font-color-normal;
    }
    h2 {
      color: $brand-color;
      font-size: $font-size-normal * 1.2;
      margin-top: 0;
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 5px;
    }
    .link {
      color: $blue-color;
    }
  }
  li:hover {
    background-color: $highlight-color;
    border-left: 2px solid $border-color;
    padding: 5px;
  }

}