<!DOCTYPE html>
<html>
<head>
  <script src="/js/jquery-3.1.0.js"></script>
  <script src="/js/js.cookie.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "
  /css/main.css" | prepend: site.baseurl }}">
</head>
<body>
<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-12">
      <div id="logo">
        <a href="https://avinetworks.com/"><img src="/img/logo.png"></a>
        <a href="/"><h2>Knowledge Base</h2></a>
      </div>
      <ul id="top-nav">
        <li>
          Solutions
        </li>
        <li>Product</li>
        <li>Customers</li>
        <li>Partners</li>
        <li>Resources</li>
        <li>Company</li>
      </ul>
    </div>
  </div>
  <div class="row content-row">
    <div class="sidebar col-xs-3">
      <form class="search-form" action="/search/">
        <div class="row">
          <div class="col-xs-10 search-field-wrapper"><input class="search-field" type="search"></div>
          <button type="submit" class="search-button col-xs-2"></button>
        </div>
      </form>
      {% include left-nav.html %}
    </div>
    <div class="main-content col-xs-9">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>  <!-- end of row -->
  <div class="row footer">
    <div class="col-xs-12">
      <p>Footer</p>
    </div>
  </div>
</div>  <!-- end of container -->
</body>
</html>