# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Avi Documentation
email: info@avinetworks.com
description: > # this means to ignore newlines until "baseurl:"
  Avi Vantage Product Documentation. Copyright &copy; 2016 Avi Networks. All rights reserved.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://kb.avinetworks.com/docs/" # the base hostname & protocol for your site
twitter_username: AviNetworks
github_username:  avinetworks


# Build settings
markdown: kramdown

gems:
  - algoliasearch-jekyll

# Search Settings
search:
  applicationID: 272ZBU7KSH
  apiKey: 6fc3a75f0821308178cd612cfd4f8d2e
  index: avi-docs
  #index: wp_searchable_posts

algolia:
  application_id: 272ZBU7KSH
  index_name:     'avi-docs'
