# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Avi Documentation
email: info@avinetworks.com
description: > # this means to ignore newlines until "baseurl:"
  Avi Vantage Product Documentation. Copyright &copy; 2017 Avi Networks. All rights reserved.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://kb.avinetworks.com/docs/" # the base hostname & protocol for your site
twitter_username: AviNetworks
github_username:  avinetworks

copyright: 2017

version: &current_version 16.3


# Build settings
markdown: kramdown

exclude: [vendor]

gems:
  - algoliasearch-jekyll

meta:
  base_url: http://docs.aviplayground.com/
  repo_site: https://github.com/oletizi/avi-docs/
  repo_url: git@github.com:oletizi/avi-docs.git
  admin_name: "Orion Letizi"
  admin_email: "orion AT avinetworks.com"
  version: *current_version

# Search Settings
search:
  applicationID: 272ZBU7KSH
  apiKey: 6fc3a75f0821308178cd612cfd4f8d2e
  index: *current_version
  versions: "16.2.2 16.2.1 16.2 16.1"
  #index: wp_searchable_posts

algolia:
  application_id: 272ZBU7KSH
  index_name:     *current_version
  record_css_selector: 'p,ul,ol,th,td,h1,h2,h3'
  #attributesToSnippet: ['text:20']
